
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="~/Login/Login" method="post">
    <label>UserName</label>
    <input type="text" name="UserName" />
    <label>Password</label>
    <input type="text" name="Password" />
    <input type="submit" class="btn btn-success" />
</form>