
@{
    ViewBag.Title = "getPartialView";
}

<h2>Detail of Course Which start with C</h2>
@Html.Partial("_MyPartialView")<br />
<h2>Detail of Course Which start with H</h2>
@Html.Partial("_MyPartialView2")<br />
